.student-view-progress-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.student-view-progress-navbar-interactive {
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 5px 0px rgba(29, 31, 33, 0.19);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.student-view-progress-desktop-menu {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.student-view-progress-links {
  top: -4px;
  flex: 1;
  right: var(--dl-space-space-twounits);
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}
.student-view-progress-navlink {
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}
.student-view-progress-navlink1 {
  font-size: 16px;
  text-align: left;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.student-view-progress-navlink2 {
  font-size: 16px;
  text-align: left;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.student-view-progress-burger-menu {
  display: none;
}
.student-view-progress-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.student-view-progress-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.student-view-progress-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.student-view-progress-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.student-view-progress-logo {
  height: 2rem;
}
.student-view-progress-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.student-view-progress-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.student-view-progress-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.student-view-progress-text {
  margin-bottom: var(--dl-space-space-unit);
}
.student-view-progress-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.student-view-progress-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.student-view-progress-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.student-view-progress-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.student-view-progress-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.student-view-progress-login {
  margin-right: var(--dl-space-space-twounits);
}
.student-view-progress-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.student-view-progress-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.student-view-progress-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.student-view-progress-container01 {
  width: 100%;
  height: 954px;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  background-color: rgba(133, 255, 235, 0.22);
}
.student-view-progress-text05 {
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  align-content: center;
  text-align: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.student-view-progress-container02 {
  top: 102px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 1001px;
  height: 261px;
  margin-left: 23%;
  /* display: flex;
  position: absolute; */
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  position: absolute;
}
.student-view-progress-image {
  width: 256px;
  height: 100%;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.student-view-progress-container03 {
  flex: 0 0 auto;
  width: 600px;
  display: flex;
  box-shadow: 0px 5px 5px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
}
.student-view-progress-container04 {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.student-view-progress-container05 {
  width: 196px;
  height: 260px;
  display: flex;
  align-items: flex-end;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.student-view-progress-text08 {
  font-size: 24px;
  line-height: 1.5;
}
.student-view-progress-text09 {
  font-size: 24px;
  line-height: 1.5;
}
.student-view-progress-text10 {
  font-size: 24px;
  line-height: 1.5;
}
.student-view-progress-text11 {
  font-size: 24px;
  line-height: 1.5;
}
.student-view-progress-text12 {
  font-size: 24px;
  line-height: 1.5;
}
.student-view-progress-container06 {
  flex: 0 0 auto;
  width: 350px;
  height: 260px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.student-view-progress-student-name {
  font-size: 24px;
  line-height: 1.5;
}
.student-view-progress-student-id {
  font-size: 24px;
  line-height: 1.5;
}
.student-view-progress-student-programme {
  font-size: 24px;
  line-height: 1.5;
}
.student-view-progress-intern-date {
  font-size: 24px;
  line-height: 1.5;
}
.student-view-progress-intern-status {
  font-size: 24px;
  line-height: 1.5;
}
.student-view-progress-container07 {
  top: 420px;
  /* flex: 0 0 auto; */
  left: 0px;
  right: 0px;
  width: 1001px;
  height: 340px;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: stretch;
  justify-content: space-between;
}
.student-view-progress-container08 {
  gap: 0;
  /* top: 0px; */
  flex: 0 0 auto;
  /* left: 50px; */
  width: 90%;
  height: 60px;
  margin: auto;
  margin-top: auto;
  margin-left: auto;
  display: flex;
  /* position: absolute; */
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.17);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: dotted;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: flex-start;
  background-color: #ffffff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.student-view-progress-text13 {
  font-size: 24px;
  margin-left: var(--dl-space-space-twounits);
}
.student-view-progress-text14 {
  font-size: 24px;
  margin-left: var(--dl-space-space-threeunits);
}
.student-view-progress-text17 {
  font-size: 24px;
  margin-left: 192px;
}
.student-view-progress-text20 {
  font-size: 24px;
  margin-left: 288px;
}
.student-view-progress-container09 {
  gap: 0;
  flex: 0 0 auto;
  width: 90%;
  height: 60px;
  margin: auto;
  margin-top: auto;
  margin-left: auto;
  display: flex;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.17);
  flex-wrap: wrap;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: dotted;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content:flex-start;
  background-color: #ffffff;
}
.student-view-progress-text23 {
  top: 16px;
  margin-left: 35px;
  width: 30px;
  justify-content: flex-end;
  font-size: 24px;
}
.student-view-progress-text26 {
  top: 16px;
  left: 110px;
  margin-left: var(--dl-space-space-twounits);
  font-size: 24px;
}
.student-view-progress-text29 {
  top: 16px;
  left: 360px;
  margin-left: var(--dl-space-space-twounits);
  width: 450px;
  font-size: 24px;
}

.student-view-progress-status {
  top: 16px;
  margin-left: var(--dl-space-space-twounits);
  margin-left: 5%;
  font-size: 24px;
  justify-content: flex-end;
}
.student-view-progress-checkbox {
  flex: 1;
  height: 32px;
  margin-top: auto;
  margin-bottom: auto;
}
.student-view-progress-container10 {
  gap: 0;
  top: 160px;
  flex: 0 0 auto;
  left: 50px;
  width: 90%;
  height: 60px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.17);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: dotted;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: flex-start;
  background-color: #ffffff;
}
.student-view-progress-text32 {
  top: 16px;
  left: 40px;
  position: absolute;
  font-size: 24px;
}
.student-view-progress-text35 {
  top: 16px;
  left: 110px;
  position: absolute;
  font-size: 24px;
}
.student-view-progress-text38 {
  top: 16px;
  left: 360px;
  position: absolute;
  font-size: 24px;
}
.student-view-progress-checkbox1 {
  top: 0px;
  flex: 1;
  right: 75px;
  width: 32px;
  bottom: 0px;
  height: 32px;
  margin: auto;
  position: absolute;
}
.student-view-progress-container11 {
  gap: 0;
  top: 80px;
  flex: 0 0 auto;
  left: 50px;
  width: 90%;
  height: 60px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.17);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: dotted;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: flex-start;
  background-color: #ffffff;
}
.student-view-progress-text41 {
  top: 16px;
  left: 40px;
  position: absolute;
  font-size: 24px;
}
.student-view-progress-text42 {
  top: 16px;
  left: 110px;
  position: absolute;
  font-size: 24px;
}
.student-view-progress-text45 {
  top: 16px;
  left: 360px;
  position: absolute;
  font-size: 24px;
}
.student-view-progress-checkbox2 {
  top: 0px;
  flex: 1;
  right: 75px;
  width: 32px;
  bottom: 0px;
  height: 32px;
  margin: auto;
  position: absolute;
}
.student-view-progress-container12 {
  width: 1000px;
  top: 400px;
  bottom: 120px;
  display: flex;
  position: relative;
  margin-left: 250px;
  align-self: center;
  
}

.student-view-progress-navlink3 {
  color: #ffffff;
  width: 250px;
  height: 68px;
  font-size: 24px;
  text-align: center;
  font-family: Comic Sans MS;
  border-width: 0px;
  border-radius: 32px;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: #000000;
  transform: translateX(-30%);
}
.student-view-progress-navlink4 {
  color: #ffffff;
  width: 250px;
  height: 68px;
  font-size: 24px;
  font-family: Comic Sans MS;
  border-width: 0px;
  border-radius: 32px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  background-color: #000000;
  transform: translateX(30%);
}
