.template-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  box-shadow: 5px 5px 10px 5px #00cee3;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.template-navbar-interactive {
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 5px 0px rgba(29, 31, 33, 0.19);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.template-desktop-menu {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.template-links {
  top: -4px;
  flex: 1;
  right: var(--dl-space-space-twounits);
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}
.template-navlink {
  font-size: 16px;
  text-align: left;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.template-burger-menu {
  display: none;
}
.template-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.template-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.template-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.template-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.template-logo {
  height: 2rem;
}
.template-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.template-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.template-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.template-text {
  margin-bottom: var(--dl-space-space-unit);
}
.template-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.template-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.template-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.template-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.template-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.template-login {
  margin-right: var(--dl-space-space-twounits);
}
.template-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.template-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.template-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.template-container1 {
  width: 100%;
  height: 954px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(133, 255, 235, 0.22);
}
.template-text5 {
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  text-align: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
